html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
    margin: 0;
    display:flex;
    background-color:#FAB941;
    flex-direction: column;
}

header {
    display:flex;
    background-color: #FFD78C;
    flex-direction: column;
}

.hornikontakt {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: space-around;
    color:#0A52AD;
}

.stankyvevystavbe {
    display:flex;
    justify-content: center;
    gap:20px;
    align-content: stretch;
    align-items: center;
}

.vystavba {
    font-size: 30px;
    text-align: center;
    flex-basis: 50%;
    max-width:30vw;
}

.logo img {
    flex-basis: 15%;
    width: 100px;
    vertical-align: bottom;
}

.logo {
    text-align: center;
    margin:30px 0;
}

main {
    margin-left:auto;
    margin-right:auto;
    display:flex;
    justify-content: center;
    flex-direction: column;
    flex-basis: 50px;
    flex-grow: 0;
    flex-shrink: 1;
    align-items: center;
}

.program1 img,
.program2 img,
.program3 img,
.skolka img,
.akce img {
    /* height:500px;  */
    width: 100vw;
}

@media screen and (min-width:700px) {
    .program1 img,
    .program2 img,
    .program3 img,
    .skolka img,
    .akce img {
        /* height:500px;  */
        width: 80vw;
}
}

@media screen and (min-width:1000px) {
    .program1 img,
    .program2 img,
    .program3 img,
    .akce img {
        /* height:500px;  */
        width: 30vw;
}
    .skolka img {
        width: 20vw;
    }
}

.rezervace {
    font-size: 20px;
    padding: 30px;
    margin: 20px;
    background-color: rgb(166, 205, 235);
}

.skolka img{
    height:300px;
}

footer {
    text-align: center;
    padding-bottom: 20px;
}

.sponzori {
    display: flex;
    justify-content: space-around;
    flex-basis: 20%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-wrap: wrap;
}

.logosp img {
    height:50px;
}























